body {
    font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
    font-size: 1em;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

#header {
    font-size: 1em;
    margin-bottom: 10px;
}

.developer {
    padding: 5px;
}

.name,
.score {
    font-size: 1.25em;
}

.developer .name {
    display: inline-block;
    width: 300px;
}

.developer .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: #777;
}

.developer.header {
    background-color: #aaa;
    padding: 7px 5px;
}

.developer.header .name,
.developer.header .score {
    font-weight: normal;
    color: white;
}

.developer.selected {
    background-color: yellow;
}

.developer.selected .score {
    color: black;
}

.details {
    font-weight: bold;
    font-size: 1.25em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 3px;
    margin: 20px 5px;
    padding: 10px 0px;
}

.none {
    color: #777;
}
